<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
</head>
<body>
    <h1>Livros disponíveis</h1>

        {% for livro in livros %}
                <p><strong>Título:</strong> {{ livro.titulo }}</p>
                <p><strong>Autor:</strong> {{ livro.autor }}</p>
                <p><strong>Páginas:</strong> {{ livro.paginas }}</p>
                <hr>
        {% endfor %}
        <a href="/criarlivro/">Criar novo livro</a>
</body>
</html>
